.summer-look {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    grid-gap: 40px;
    margin-top: 50px;

}

.summer-look img {
    width: 500px;
}

.shadow {
    color: aqua;
    position: relative;
    margin: 200px auto 0;
    width: 400px;
    height: 250px;
    background: linear-gradient(0deg, #000, #262626);
}

.shadow::before,
.shadow::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;

    background: linear-gradient(45deg, #fb0094, #00ff00, #0000ff, #ffff00, #ff0000, #fb0094, #00ff00, #0000ff, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

.shadow::after {
    filter: blur(20px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }


}