.all-dress {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



@media only screen and (max-width: 576px) {
    .all-dress {
        grid-template-columns: repeat(1, 1fr);
        width: auto;

    }
}